table {
	padding: 5px; 
	margin-bottom: 20px;
	border-collapse: collapse;;
} 

tr:not(:last-child) {
	border-bottom: 1px solid #ddd;
}

td {
    padding: 10px 10px 10px 10px;
}

td:nth-child(2) {
    border-left: 1px solid #ddd
}

td:nth-child(1) {
    font-weight: 550
}

button {
	font-size: 1.2em; 
	padding: 5px; 
	margin-bottom: 20px;
}

.separator {
	height: 1px;
	width: 100%;
	background-color: #ddd;
}

